@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'TildaSansRegular';
    font-size: 16px;
    scrollbar-width: '1px';  /* Firefox */
}

*::-webkit-scrollbar {
    width: '1px'; /* Safari and Chrome */
    background: 'inherit';
}

progress {
    @apply w-full rounded bg-[#E1E5EC] appearance-none h-full text-orange

}

progress::-moz-progress-bar {
    @apply rounded bg-orange
}

progress::-webkit-progress-bar {
    @apply rounded bg-[#E1E5EC]
}

progress::-webkit-progress-value {
    @apply rounded bg-orange
}